body {
	background-color: #7f675b;
}

h1 {
	text-align: center;
	font-family: "gill sans", sans-serif;
	background-color: #ffeaee;
	padding: 20px;
}

p {
	font-family: "gills sans", sans-serif;
}

#container {
	width: 500px;
	background-color: #ffeaee;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 150px;
	border-radius: 25px;
}

.center-align {
	margin: auto;
}

.left-align {
	text-align: left;
	padding-left: 50px;
}